.ReservationBox{
    padding-left: 100px;
}
.FooterReservation{
    /* padding-left: 100px; */
    /* background: blue; */
    padding-bottom: 20px;
}

.ReservationButtonOne{
    
    padding-bottom:10px
    /* text-decoration:underline; */
}
.ReservationButtonOne:hover{
    text-decoration: underline;

}
ul.NoBullet{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
